.index{
  .topButoom--spacing{
    padding-top: 60px;
    padding-bottom: 60px;
    @include mobile(){
    padding-top: 40px;
    padding-bottom: 40px;
    }
  }
  .article{
    margin: 0 93px;
    @include pad(){
      margin: 0;
      padding: 30px;
      p{
        font-size: 16px;
      }
    }
    @include mobile(){
      margin: 0;
      padding: 0 0 32px 0;
    }
  }
  main a:hover{
    color: darken($linkColor, 20%);
  }
  .recycling{
    @include pad(){
      .recycling--image{
        max-height: 400px;
        overflow: hidden;
        img{
          width: 200%;
        }
      }
    }
    @include mobile(){
      .col-8,.col-4{
        padding: 0;
      }
      .recycling--image{
        max-height: 500px;
        overflow: hidden;
        img{
          width: 150%;
        }
      }
    }
  }
}