.product{
  .productList{
    @include mobile(){
      padding: 0;
      margin-bottom: 10px;
    }
  }
  .card{
    margin-bottom: 56px;
    @include mobile(){
      padding: 0 10px;
      margin-bottom: 30px;
    }
  }
  .pagination{
    margin-bottom: 60px;
    @include mobile(){
      margin-bottom: 40px;
    }
    a{
      @include mobile(){
      margin: 0 10px;
      }
    }
  }
}