// width
$max-width: 1110px;

// font
$fontH1: 40px;
$fontH2: 32px;
$fontH3: 24px;
$fontH4: 20px;
$fontH5: 16px;
$fontH6: 14px;

// color
$primary: #916019;
$primaryLighten: #916000;
$secondary: #8D8D8D;

$linkColor: #AC8A46;

$gary-100: #E0E0E0;
$gary-200: #CED4DA;
$gary-300: #A5A5A5;
$gary-400: #818A91;
$gary-500: #848484;
$white: #fff;
$black: #000;