.button--base{
  display: inline-block;
  padding: 8px 16px;
  color: $white;
  border: 1px solid $primary;
  background: $primary;
  border-radius: 4px;
  &:hover{
  color: $primary;
  background: $white;
  border-color: $primary;
  }
}

.button--border{
  display: inline-block;
  padding: 8px 16px;
  color: $primary;
  border: 1px solid $primary;
  background: $white;
  border-radius: 4px;
  &:hover{
  color: $white;
  background: $primary;
  }
}

.button__special--light,
.button__special--dark,
.button--soldOut{
  text-align: center;
  border: 2px solid;
  border-radius: 35px;
  padding: 18px 0;
  font-weight: 700;
}

.button__special--light{
  border-color: $white;
  color: $white;
  padding: 10px 0;
  &:hover{
    background: rgba(white, $alpha: 0.5);
    color: $primary;
    border-color: $primary;
  }
}

.button__special--dark{
  border-color: $black;
  &:hover{
    background: $black;
    color: $white !important; 
  }
  @include pad(){
    padding: 8px 0;
  }
}

.button--soldOut{
  border-color: $secondary;
  background-color: $secondary;
  color: $white;
}